html, body {
  font-family: PingFang SC, Helvetica Neue, Hiragino Sans GB, Helvetica, Microsoft YaHei, Arial, serif;
  font-size: 20px;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

//删除按钮外部样式
button {
  outline-width: 0 !important;
}

.taro_router, .taro_page {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
